<header
  class="box-header container-xxl d-flex align-items-stretch justify-content-between"
>
  <app-logo></app-logo>
  <div class="box-header-menu d-flex align-items-center">
    <nav>
      <ul>
        <li>
          <a routerLink="/cadastro-tarefas" routerLinkActive="linkativo"
            >Cadatro de tarefas</a
          >
        </li>
        <li>
          <a routerLink="/cadastro-usuario" routerLinkActive="linkativo"
            >Cadatro de usuários</a
          >
        </li>
        <li><app-button-logout></app-button-logout></li>
      </ul>
    </nav>
  </div>
</header>
